* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.outter-container {
  display: flex;
  width: 100%;
}
.profilePicture-container {
  width: 100px;
  padding: 10px;
}
.profilePicture-container > img {
  width: 50px;
  border-radius: 50%;
}
.user-info {
  display: flex;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 10px;
}
.profile-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1000;
  font-size: 0.9rem;
  text-align: center;
}
.profile-container {
  padding: 5px;
}
.username-container {
  padding: 5px;
  text-align: center;
  color: gray;
}

.content-container > p {
  font-family: sans-serif;
}
.content-container {
  padding: 1rem;
}
.delete_tweet_icon_container {
  width: 50px;
}
.delete_tweet_icon_container > svg {
  width: 30px;
  transition: .3s all;
}
.delete_tweet_icon_container > svg:hover {
  color: rgb(109, 109, 255);
  width: 35px;
  cursor: pointer;
}
.delete_tweet_text_container {
  background-color: white;
  font-family: sans-serif;
  width: 30%;
  padding: 5px;
  height: 2rem;
  text-align: center;
  border: 1px solid gray;
  transition: .3s all;
}
.delete_tweet_text_container:hover{
  background-color: rgb(238, 120, 120);
  cursor: pointer;
}